@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Safe Space - Let us know - Named @ViewData["Title"] </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="https://biis.ayrshire.ac.uk/StudentExperienceSharedAssetsSite/css/accordian.css" asp-append-version="true">
    <link rel="stylesheet" href="https://biis.ayrshire.ac.uk/StudentExperienceSharedAssetsSite/css/breadcrumbs.css" asp-append-version="true">
    <link rel="stylesheet" href="https://biis.ayrshire.ac.uk/StudentExperienceSharedAssetsSite/css/cards.css" asp-append-version="true">
    <link rel="stylesheet" href="https://biis.ayrshire.ac.uk/StudentExperienceSharedAssetsSite/css/feature-block.css" asp-append-version="true">
    <link rel="stylesheet" href="https://biis.ayrshire.ac.uk/StudentExperienceSharedAssetsSite/css/navbars.css" asp-append-version="true">
    <link rel="stylesheet" href="https://biis.ayrshire.ac.uk/StudentExperienceSharedAssetsSite/css/site.css" asp-append-version="true">
    <link rel="stylesheet" href="https://biis.ayrshire.ac.uk/StudentExperienceSharedAssetsSite/css/nav-tabs.css" asp-append-version="true">
    <link rel="stylesheet" href="https://biis.ayrshire.ac.uk/StudentExperienceSharedAssetsSite/css/sidebar.css" asp-append-version="true">



    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
</head>
<body>

    @* @await Html.PartialAsync("_Topbar") *@
    @await Component.InvokeAsync("Topbar")

    @await Html.PartialAsync("_Usergreetingbar")

    @* @await Html.PartialAsync("_Sidebar") *@
    @await Component.InvokeAsync("Sidebar")


    <!-- Main Content -->
    <div class="content">
        @RenderBody()
    </div>

    <!-- Footer -->
    @await Component.InvokeAsync("Footer")





    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/site-layout.js"></script>
    <script src="~/js/sidebar.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>
