<div class="container-fluid mt-1 mb-0">
    <div class="row" style="padding-left: 0; padding-right: 0;">
        <div class="col-12 text-end">
            <span class="me-3">
                @await Component.InvokeAsync("UserGreeting")
            </span>
        </div>
    </div>
</div>