@model SidebarViewModel


<div class="sidebar" id="sidebar">
    <div class="d-flex justify-content-between align-items-center p-3 border-bottom">

        <h5 class="mb-0 text-white">HR Forms Gateway</h5>

        <button id="closeSidebar" class="btn btn-sm btn-outline-light menubutton" aria-label="Close menu">
            <i class="fas fa-times"></i>
        </button>
    </div>
    <nav class="nav flex-column p-3">



        <div class="dark-surface mb-2">
            <a class="nav-link d-flex align-items-center"
               href="https://biis.ayrshire.ac.uk/HRFormsGateway"
               style="font-size: 0.75rem; padding: 0.25rem 0.5rem;"
               title="HR Forms Gateway Home Link">

                <span class="d-inline-flex justify-content-center align-items-center me-2 icon-wrapper"
                      style="width: 20px; height: 20px;">
                    <i class="fas fa-home icon-color" style="font-size: 0.75rem;"></i>
                </span>

                <span class="text-truncate text-white"
                      style="line-height: 1.6; display: inline-block;">HR Forms Gateway Home</span>
            </a>
        </div>






    </nav>
</div>
