<footer class="bg-black text-muted text-center border-top mt-5 py-3 small">
    <div class="container text-center">
        <p class="mb-0 text-muted text-center">&copy; @DateTime.Now.Year Ayrshire College</p>
    </div>
</footer>